In [1]:
import pandas as pd
import numpy as np
import surprise
import sklearn
from surprise import KNNWithMeans,accuracy,Reader,Dataset
from surprise.model_selection import train_test_split

In [26]:
#loading all csv files
ratings = pd.read_csv("ratings.csv")
movies_data = pd.read_csv('movies.csv')
links = pd.read_csv('links.csv')
tags = pd.read_csv('tags.csv')
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

####    1.Create recommender system using ratings.csv file.

In [3]:
data_pvt=ratings.pivot(index='userId',columns='movieId',values='rating')
data_pvt.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_pvt.shape

(610, 9724)

In [5]:
#reading csv file data using reader
reader = Reader(rating_scale=(1,5)) # movie rating sacle is 1 to 5
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']],reader) # reader takes u_id,m_id,rating as values

In [6]:
[trainset,testset] = train_test_split(data,test_size=0.15,shuffle=True)

recom_sys = KNNWithMeans(k=65, sim_options={"Name":"Cosine","user_based":True}) # using cosine semilarity

recom_sys.fit(data.build_full_trainset())

test_pred = recom_sys.test(testset)

RMSE = accuracy.rmse(test_pred)

print("RMSE =",RMSE)

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.7171
RMSE = 0.7171287680697583

#### 2.Display predicted rating for a particular userID and MovieID combinations (both taken as keyboard input)

In [7]:
user_id=int(input('Enter the user id : ')) #taking the user_id as keybord input
mvi_id = int(input('Enter the movie id :'))#taking the mvi_id as keybord input
print("rating for movie_id",mvi_id,"by user_id",user_id,"is:",round(recom_sys.predict(user_id,mvi_id)[3],2))
print("\n")

Enter the user id : 55
Enter the movie id :66
rating for movie_id 66 by user_id 55 is: 1.68

#### 3.Recommend a user to watch top 10 movies, which has not watched yet (as per his rating predictions). Take userID as a keyboard input. Fix the threshold rating as 2.5

In [8]:
data_pvt.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
recom_sys.predict(66,88)[3]

3.706252078704763

In [10]:
usr_mvi={}
U_id = int(input('Enter user id: '))
threshold = float(input('Enter the threshold value: '))
for m_id in data_pvt.columns:
    if recom_sys.predict(U_id,m_id)[3] > threshold:
        usr_mvi[m_id]=recom_sys.predict(U_id,m_id)[3]

Enter user id: 55
Enter the threshold value: 2.5

In [11]:
usr_mvi

{1: 2.8917526012201162,
 2: 2.6799748374403904,
 3: 2.5367959259373603,
 6: 3.244904560370091,
 10: 2.9059265121995956,
 11: 2.6793884897656097,
 13: 2.6772302105163943,
 14: 2.8366251902210027,
 16: 3.3012015658706977,
 17: 3.1502854945123344,
 18: 3.151957471270295,
 21: 2.858957242928353,
 22: 2.686493691626864,
 25: 2.9855592065366325,
 26: 2.8789061521696153,
 27: 2.527954026684085,
 28: 3.2179979623637243,
 29: 3.3232202075900843,
 30: 3.3091066286744057,
 32: 3.1196640500134345,
 34: 2.5987113908938326,
 36: 3.2027091214082084,
 39: 2.5672388041048135,
 40: 2.84,
 41: 3.412938027351405,
 45: 2.602647379128323,
 47: 3.2877776533772254,
 50: 3.339167945126253,
 52: 2.982532430716425,
 53: 4.288891943891828,
 55: 3.150580204778157,
 58: 3.203297346851973,
 60: 2.6870988742027553,
 61: 3.1972769374483487,
 62: 2.7656643361510436,
 69: 2.87398737777307,
 70: 2.8774668776045234,
 72: 2.5367425669563355,
 73: 2.8211174240652297,
 74: 2.619023212018089,
 77: 3.3320466595970304,
 80: 3.247816228107285,
 82: 2.965946552214853,
 83: 2.84,
 85: 2.9642999501253096,
 86: 2.8719742141516553,
 89: 2.604572953002368,
 94: 3.4243302481729825,
 96: 2.941043643263757,
 97: 3.0331935417828184,
 99: 4.281196722288927,
 101: 3.113059195921392,
 104: 2.772982767159579,
 106: 3.2844444444444445,
 107: 2.734814798187985,
 108: 3.3320466595970304,
 110: 3.1691687228783842,
 111: 3.2982330006076026,
 112: 2.835836196350543,
 113: 3.0531001104719064,
 116: 2.823887682154064,
 121: 3.215553761392813,
 123: 3.427259537379234,
 125: 3.2252043351941695,
 137: 2.84,
 140: 2.8607276610139647,
 141: 2.7191549743248475,
 144: 2.8166793233544705,
 145: 2.7629243333174953,
 146: 2.51904731225269,
 147: 3.0017240015257722,
 148: 4.0988235294117645,
 150: 2.8513868277791294,
 151: 2.763924170505338,
 154: 2.7909276250712076,
 161: 2.9411254510140856,
 162: 3.2978018358614682,
 163: 2.87530367791,
 164: 2.993410329217172,
 165: 2.7868950615129973,
 170: 2.6865976295628173,
 171: 3.05865870217441,
 175: 3.11687144969417,
 176: 3.8005263163528284,
 180: 2.8760287187832345,
 183: 2.990956072351421,
 184: 2.894902336400643,
 187: 3.8162882663165965,
 188: 2.9919062105150878,
 194: 3.157778666536816,
 195: 2.58803343338943,
 198: 2.8270996319415453,
 199: 3.4177619379239177,
 203: 2.684616339719623,
 205: 2.7179765694863023,
 207: 2.500326981028865,
 209: 2.907787478961647,
 211: 2.9642065771230133,
 213: 3.6463844007915807,
 214: 3.1767847469902684,
 215: 2.8410088609673902,
 216: 2.862750471408934,
 218: 2.7843406860331052,
 222: 3.2535335820302316,
 223: 3.3684223286617545,
 224: 2.845564843410463,
 229: 2.759252210695708,
 230: 2.690759071068389,
 232: 3.2341124588663357,
 233: 3.0823867879290727,
 235: 2.987080932837579,
 236: 2.675572325001163,
 237: 2.763180660826115,
 241: 2.84,
 242: 3.07689915615544,
 246: 3.47014316994865,
 247: 3.3552504390789126,
 249: 3.459335202604789,
 252: 2.692546837290181,
 253: 3.013735058694443,
 257: 2.562254272410523,
 260: 3.338287160231647,
 261: 3.0020958377005535,
 262: 3.146556772084083,
 263: 3.1826008968609862,
 265: 3.3549189893720817,
 266: 2.7676093962363,
 271: 2.6310482708032312,
 272: 3.1133931009592652,
 273: 2.531155704875694,
 277: 2.504426793082653,
 280: 3.383448889484635,
 281: 3.3043253044028065,
 282: 2.6692199712318483,
 283: 3.607213529457128,
 284: 3.4154310344827583,
 285: 3.36,
 288: 2.860676367369707,
 290: 3.6963760045878713,
 292: 2.560260501160468,
 293: 3.2848744852483867,
 295: 3.2326031294452346,
 296: 3.432907287928727,
 299: 3.8961369196818776,
 300: 3.024534380937791,
 301: 3.3320466595970304,
 304: 3.463870075473027,
 306: 3.516025150165534,
 307: 3.2158104226947857,
 308: 3.2398549557508582,
 314: 2.838803304600157,
 316: 2.6540729993561594,
 318: 3.4879714750379525,
 319: 3.103666757520463,
 321: 3.156118919084376,
 322: 3.142309187919213,
 324: 3.150580204778157,
 328: 2.9386329094230756,
 329: 2.6986305182515555,
 330: 2.879047162642801,
 333: 2.80137102685166,
 334: 3.58860974478608,
 335: 3.4840677966101694,
 337: 2.931328227317121,
 339: 2.602190103911193,
 340: 2.694198983159991,
 341: 3.305526732813265,
 346: 2.6860704471952834,
 347: 2.714898040187634,
 348: 3.052270093422333,
 349: 2.891849790304718,
 350: 2.5689712734488594,
 353: 3.196207330580717,
 354: 3.097417535225106,
 356: 3.3166386916281367,
 357: 2.9176314977537383,
 362: 2.5391375563503154,
 363: 3.4947368822562757,
 364: 3.1411175197731254,
 368: 2.8923478383638113,
 369: 3.1767847469902684,
 371: 2.622969964047093,
 373: 2.6825137099754746,
 377: 2.536653692002052,
 380: 2.7157219328058892,
 381: 2.7011912047655353,
 384: 2.944347826086956,
 385: 3.0515384615384615,
 388: 2.5267102039918767,
 389: 3.4309090909090907,
 390: 2.8117947364114944,
 391: 4.286428571428571,
 407: 3.007005212436818,
 410: 2.5337551723250593,
 412: 3.1253264966775016,
 417: 3.199307591724516,
 422: 3.0371071200099893,
 425: 3.0367590606062853,
 426: 2.840340999246081,
 428: 3.2185539425963094,
 430: 3.5188107618763733,
 431: 3.0723147050101516,
 440: 2.8770842521289546,
 441: 3.335552477138147,
 446: 3.3166056034973557,
 448: 3.1682001397094246,
 450: 2.6489994701309536,
 451: 3.166881720430107,
 454: 2.7514031009534916,
 456: 3.092477742228555,
 457: 3.0949579876221556,
 467: 3.9722314049586775,
 468: 2.509764242544209,
 471: 2.5439788388953097,
 474: 2.9738240570944074,
 475: 3.557785745621855,
 477: 2.9035896712552405,
 478: 2.6979499596448746,
 480: 2.922053509962107,
 481: 2.594211252346725,
 482: 3.2106018922813573,
 484: 2.84,
 486: 2.6369610226293725,
 491: 2.5401456337166715,
 492: 3.012726345805741,
 493: 3.0282716452590246,
 494: 2.7793919711249555,
 495: 4.33204665959703,
 496: 4.0988235294117645,
 497: 2.8771280615449815,
 500: 2.5085387802507575,
 501: 2.9691059120171444,
 504: 2.785726372348655,
 506: 3.6959260623560675,
 508: 3.0486701523807027,
 509: 2.931703883322914,
 513: 3.0561094576347396,
 514: 2.74688972610328,
 515: 2.8201276127841592,
 517: 2.7211872036039115,
 521: 2.792850031764421,
 524: 2.8007806962737676,
 526: 3.3320466595970304,
 527: 3.0661218293037162,
 529: 3.198994123338497,
 533: 2.532826194066693,
 534: 3.2128851216322376,
 535: 3.0123427743411155,
 536: 3.069747213375796,
 538: 2.504992478690553,
 539: 2.7100729020528638,
 541: 3.1260269400259304,
 543: 2.7440549369488614,
 547: 2.9677113870880953,
 549: 3.3320466595970304,
 550: 2.7903991841127316,
 551: 2.9089856501554237,
 552: 2.5217358141656785,
 553: 3.049853657118228,
 555: 3.1028735129381855,
 556: 3.1745332830863537,
 558: 2.5177378589502446,
 562: 3.1415657635898886,
 563: 3.1826008968609862,
 573: 2.6826008968609862,
 574: 2.5519935616182297,
 581: 3.191270397340791,
 583: 3.1826008968609862,
 587: 2.6246997860431813,
 588: 2.9594284058959253,
 589: 3.021636679658015,
 590: 3.1481560728332,
 592: 2.8002764110577085,
 593: 3.229797076235186,
 594: 2.997912712024844,
 595: 3.0070774358227825,
 596: 2.7741193969673894,
 597: 2.6656712521532753,
 599: 3.518483812483935,
 600: 3.328741044012282,
 602: 3.3320466595970304,
 606: 2.6997871254236685,
 608: 3.199232323201091,
 609: 2.5498135350042093,
 610: 2.9875916207908424,
 616: 3.022400784477161,
 618: 2.793125,
 626: 2.84,
 627: 2.833007984432572,
 628: 3.1518189304571074,
 631: 2.6024435656853186,
 632: 3.1826008968609862,
 633: 4.384982698961938,
 635: 2.6435510900708312,
 645: 2.802756184948011,
 647: 2.5046939513617135,
 648: 2.7163053533035098,
 661: 2.7890769036356806,
 663: 3.1614857599043824,
 665: 3.5074405777172735,
 668: 3.2041754355701224,
 670: 3.941043643263757,
 671: 2.955402431585268,
 674: 2.654482781158546,
 678: 3.1185086463036935,
 679: 3.0211414392059552,
 680: 3.1499637789095716,
 685: 3.486119974513774,
 695: 3.1249740932642487,
 700: 2.833408819577074,
 706: 2.84,
 708: 2.567313620803484,
 709: 2.6225063000992477,
 714: 3.080351025935393,
 715: 3.0330983777479883,
 718: 3.3807076470350053,
 720: 3.360636659644106,
 722: 3.150580204778157,
 728: 2.970763887212788,
 731: 2.79587321879473,
 733: 2.87952206182652,
 735: 3.436767498985284,
 741: 3.582418119010727,
 745: 3.013920908498439,
 747: 2.6112658316343227,
 748: 2.559834788846181,
 750: 3.4486197477176956,
 757: 2.5875490196078426,
 759: 2.990531219444124,
 760: 3.2832373049861507,
 764: 3.1782851592459753,
 766: 3.2086146321084823,
 773: 2.584027303754266,
 778: 3.2988966136058595,
 781: 2.9447490617582814,
 785: 2.8053812272917398,
 791: 2.7659259259259255,
 795: 2.850280338609721,
 799: 3.1064807367437073,
 800: 3.3582044750156657,
 801: 2.527114669710509,
 803: 3.3320466595970304,
 804: 2.5232338393850595,
 805: 3.000579915276552,
 808: 3.003497053872054,
 818: 2.625845900801216,
 823: 2.584027303754266,
 824: 2.84,
 830: 2.5786548161580836,
 832: 2.6547122557895806,
 835: 2.960319300462215,
 837: 2.6361581198616175,
 838: 3.0708496084928263,
 840: 2.798838721646756,
 841: 2.699316280639505,
 848: 2.774474281358432,
 858: 3.3734429352581876,
 861: 3.2904748758197586,
 866: 3.3449036808500834,
 869: 2.7171710869992975,
 875: 3.106269841269841,
 876: 4.151475409836065,
 889: 3.4858333333333333,
 891: 2.665738454274446,
 892: 3.149709894957768,
 893: 3.7336417438950593,
 897: 3.1911875052224046,
 898: 3.5649446805226592,
 899: 3.337995781675575,
 900: 2.982019600077502,
 902: 3.20056519532242,
 903: 3.046588012468343,
 904: 3.375498686411282,
 905: 3.266363291772202,
 906: 3.2412375606920794,
 907: 2.584553124104132,
 908: 3.4704099495081837,
 909: 3.0737538540890212,
 910: 3.2691282497539573,
 911: 3.3219411087383297,
 912: 3.4008484164389214,
 913: 3.3646506432888534,
 914: 3.092335949768439,
 915: 2.9295907284866742,
 916: 3.181877127849873,
 917: 2.7816653488576844,
 918: 3.7724588987645373,
 919: 3.1357350876735977,
 920: 2.9349770204959595,
 921: 2.8056348466090415,
 922: 3.4695432884399144,
 923: 3.155917785743614,
 924: 3.0288614627692083,
 926: 3.4250983960304904,
 927: 3.2946171580497223,
 928: 3.37434997437257,
 929: 2.941043643263757,
 930: 3.2411436662889046,
 931: 3.0550300049862953,
 932: 3.206144125141103,
 933: 3.3822294090877394,
 935: 2.608043245336087,
 936: 3.645468563998495,
 937: 2.9304578927880858,
 938: 2.9696809892552536,
 940: 3.1729916138267287,
 941: 3.6254596810018063,
 942: 3.498728722850741,
 943: 3.1392827068795337,
 944: 3.205960139257514,
 945: 3.642473648247091,
 946: 3.029615290682191,
 947: 3.800717315428856,
 948: 3.2286385912959874,
 949: 2.862618368507946,
 950: 3.325279917369146,
 951: 3.395427152415362,
 952: 3.295773744798527,
 953: 3.081847750803154,
 954: 3.2460216687528485,
 955: 3.165923139567165,
 956: 3.441043643263757,
 959: 2.941043643263757,
 961: 3.1826008968609862,
 963: 2.6940284360189573,
 965: 3.316271674923835,
 968: 2.884666259357616,
 969: 3.150963075371193,
 970: 2.941043643263757,
 971: 2.9887283985387185,
 973: 3.2230077955428946,
 981: 2.622845730324949,
 986: 3.050031430890144,
 991: 2.8305448976480885,
 994: 3.0437102923042767,
 999: 2.6473656081010573,
 1004: 2.613438019518157,
 1006: 2.759299110268568,
 1008: 2.6940284360189573,
 1010: 2.6523453357555145,
 1012: 2.8233228505438386,
 1015: 2.5191411227437013,
 1016: 2.680156155141323,
 1017: 2.9837429040548638,
 1019: 3.2053647383914923,
 1020: 2.7412995648269507,
 1022: 2.8212276338647193,
 1023: 2.800530882292908,
 1024: 2.958221160249718,
 1025: 2.9885523749718685,
 1028: 3.111730595205545,
 1029: 2.701558582495314,
 1031: 3.1010096419053483,
 1032: 2.9995737380245546,
 1033: 2.9718096550843303,
 1034: 2.6568583928193434,
 1035: 3.2409434440271663,
 1036: 3.111006665107844,
 1041: 3.6054835338070514,
 1042: 2.5106094242639125,
 1046: 3.7398304312414963,
 1049: 2.5406653614768304,
 1050: 3.3652977542360714,
 1051: 2.8255788065245984,
 1057: 2.9485304117077944,
 1059: 2.8225938110160422,
 1060: 3.0055756723914073,
 1061: 3.171259476441655,
 1064: 2.6369399660087924,
 1066: 3.4994665422076525,
 1068: 2.941043643263757,
 1073: 3.12523735790247,
 1077: 3.0240531223439815,
 1078: 3.1054056575636695,
 1079: 3.334355278743944,
 1080: 3.3496002735307564,
 1081: 2.929880101246445,
 1082: 2.5475148150205205,
 1083: 2.822094085889941,
 1084: 3.3131352930959532,
 1085: 3.078172920065253,
 1086: 3.319557329918503,
 1088: 2.6457735187969966,
 1089: 3.3112464165664455,
 1090: 3.3084622042021286,
 1093: 2.50039192568972,
 1095: 3.2412591680156693,
 1096: 3.299949172667244,
 1097: 2.823361222443178,
 1099: 2.899304132714499,
 1101: 2.5950675507692207,
 1103: 3.280400541373999,
 1104: 3.4909997868851352,
 1105: 2.9722314049586775,
 1111: 2.9405837925541958,
 1112: 3.56997845130094,
 1114: 3.1979499596448746,
 1116: 2.7659259259259255,
 1117: 2.6826008968609862,
 1120: 2.995060563313203,
 1121: 3.448042994810971,
 1123: 3.1570784052816783,
 1124: 2.888564580830023,
 1125: 2.802306098138118,
 1126: 3.101269064430585,
 1127: 2.8715683861495793,
 1129: 2.945690731938247,
 1130: 2.637532364914349,
 1131: 3.3841392757086624,
 1132: 3.2267635621730246,
 1136: 3.3982031129159855,
 1137: 2.7659259259259255,
 1140: 4.134117647058823,
 1144: 2.7659259259259255,
 1147: 3.132350825821023,
 1148: 3.292424443704973,
 1150: 3.740703575550406,
 1151: 3.484859813084112,
 1156: 2.6826008968609862,
 1161: 2.7360160066007957,
 1171: 2.689009027666658,
 1172: 3.1799949185170604,
 1175: 3.5133004548676072,
 1176: 3.013737675967556,
 1177: 3.183912108461832,
 1178: 3.548002284583204,
 1179: 2.7319825995593714,
 1183: 3.0002037673443005,
 1184: 2.6762785160853046,
 1185: 2.9083316322508663,
 1186: 3.186526045522011,
 1188: 2.5289945473857967,
 1189: 3.507079476311306,
 1192: 3.664780041013564,
 1193: 3.2456045472948216,
 1194: 2.863900313008643,
 1196: 3.245325740413487,
 1197: 3.3742203032736016,
 1198: 3.309120271273124,
 1199: 3.353279556938202,
 1200: 3.189253013660082,
 1201: 3.3649531058544584,
 1202: 2.7937422469366635,
 1203: 3.3646226310264336,
 1204: 3.603037164060324,
 1206: 3.352471393262598,
 1207: 3.16703486487538,
 1208: 3.3897537327489546,
 1209: 3.281298997897432,
 1210: 3.298026178140778,
 1211: 3.110662150862738,
 1212: 3.299559671478655,
 1213: 3.4592039082956365,
 1214: 2.9976298004231383,
 1215: 3.41601780440698,
 1216: 3.0197231050150894,
 1217: 3.3544396179407308,
 1218: 3.2185497332294375,
 1219: 3.2289895145258205,
 1220: 3.0683816752245505,
 1221: 3.387014688955712,
 1222: 3.227213585653536,
 1223: 3.620938429417142,
 1224: 3.206902968668181,
 1225: 3.398093930537356,
 1226: 2.939575425159371,
 1227: 3.1833528754929543,
 1228: 3.478287585598487,
 1230: 3.241898860961882,
 1231: 3.4861596402326467,
 1232: 2.578118350014626,
 1233: 3.250423832936576,
 1234: 3.2564284258739384,
 1235: 3.154323693191416,
 1236: 3.9339240026837565,
 1237: 3.40017089885892,
 1238: 3.299297538292043,
 1240: 3.0097081361410725,
 1241: 3.3714919593126225,
 1242: 3.3995157502891384,
 1243: 3.1242512870835686,
 1244: 3.2253078569945686,
 1245: 3.492852098390462,
 1246: 3.076205220908677,
 1247: 3.2187523421298407,
 1248: 3.7495785680489417,
 1249: 3.2925263199511576,
 1250: 3.3880579291511275,
 1251: 3.4155874490744633,
 1252: 3.4316912076579182,
 1253: 3.151997231802181,
 1254: 2.991941618922763,
 1256: 3.2777400918515935,
 1257: 3.006900506439331,
 1258: 3.3013439649715344,
 1259: 3.1558513584197097,
 1260: 2.9177964858489314,
 1261: 3.517643256342516,
 1262: 3.3831028139307016,
 1263: 3.096694896506357,
 1264: 3.215738269772939,
 1265: 3.0963444983977433,
 1266: 3.386934901497587,
 1267: 3.3884257305796144,
 1268: 2.8568822133090808,
 1269: 3.101327390678344,
 1270: 3.2644954904891814,
 1271: 3.0331851851357023,
 1272: 3.4053666364905957,
 1273: 3.6692716287439313,
 1274: 3.362205017912842,
 1275: 3.2849173986642053,
 1276: 3.4694186907604623,
 1277: 3.432612242497846,
 1278: 3.3649152684131254,
 1279: 3.610894320830733,
 1280: 3.551811076849855,
 1281: 3.331322325393811,
 1282: 3.040845339470396,
 1283: 3.5507214881576106,
 1284: 3.387483677768808,
 1285: 3.0958009105599724,
 1287: 3.2680280426890707,
 1288: 3.3006971692096028,
 1289: 3.2222485471214557,
 1291: 3.293061899099962,
 1292: 3.3339971887695734,
 1293: 3.0786590309488573,
 1295: 2.96824910971256,
 1296: 3.1488935146599126,
 1297: 3.017325465066624,
 1298: 3.0451417543180392,
 1299: 3.195052729827705,
 1300: 3.2230122515126665,
 1301: 3.0288438645250175,
 1302: 2.7396843180809074,
 1303: 3.4149625810312108,
 1304: 3.239564210688224,
 1307: 3.0373851809759107,
 1310: 4.33204665959703,
 1320: 2.61900650704952,
 1321: 2.9797787896890133,
 1329: 3.0814800389483934,
 1331: 2.84,
 1332: 2.9747581923187143,
 1333: 2.956846445785038,
 1337: 3.944347826086956,
 1339: 3.0266104935014617,
 1340: 2.6142700793316513,
 1341: 2.84,
 1343: 3.135703191943522,
 1344: 3.106613071859453,
 1345: 2.6379916471266878,
 1347: 2.526371497691074,
 1348: 2.8640279487799885,
 1349: 4.33204665959703,
 1350: 2.935342731631504,
 1353: 2.683012442192711,
 1354: 2.9707690135322897,
 1355: 2.6459014665337657,
 1356: 2.912991242543788,
 1357: 2.6574802277427647,
 1358: 2.763555489460945,
 1361: 3.4289074339130443,
 1365: 2.8897583349306646,
 1366: 3.629458376623164,
 1370: 2.6402100141831095,
 1372: 2.749454357125202,
 1374: 2.981224473038982,
 1375: 2.669014146353014,
 1376: 2.868110648406375,
 1379: 2.569758047406115,
 1380: 2.5164945241615544,
 1387: 3.183675060533724,
 1392: 3.184249947496771,
 1393: 2.944033886107701,
 1394: 3.297832106223887,
 1396: 2.916025160284536,
 1397: 3.3563917592014607,
 1399: 2.535287360383555,
 1401: 2.9506716395008064,
 1406: 3.539534840729328,
 1408: 3.2342967661716844,
 1411: 3.1603336220785274,
 1412: 2.536774193548387,
 1413: 3.628416854933815,
 1414: 2.7440828874889194,
 1416: 2.530472484836908,
 1417: 2.514232024648424,
 1419: 3.4787774032463297,
 1422: 3.079687595995569,
 1423: 3.441043643263757,
 1429: 3.1090548734224157,
 1437: 3.458446093450111,
 1441: 2.6875130340778846,
 1442: 2.86699311926207,
 1446: 3.600549714572682,
 1447: 2.828447839723743,
 1449: 3.197273567888002,
 1454: 2.67742078207256,
 1458: 2.84,
 1460: 2.781457883613062,
 1465: 2.860524628597788,
 1466: 2.9500157400102487,
 1475: 3.3320466595970304,
 1476: 3.202325504886866,
 1477: 2.84,
 1479: 2.8678551125604548,
 1480: 2.9306612459623307,
 1483: 2.9435613998343064,
 1484: 3.328072790044472,
 1493: 2.6826008968609862,
 1496: 3.441043643263757,
 1497: 3.0405011282270187,
 1498: 2.526755652050894,
 1500: 3.0800795953961515,
 1507: 2.941043643263757,
 1516: 2.84,
 1517: 2.8386229381848356,
 1518: 2.794478853561795,
 1527: 2.986170386870938,
 1533: 3.539534840729328,
 1537: 3.111531369805789,
 1542: 3.054911811019966,
 1545: 3.7541179090456565,
 1546: 2.828741044012282,
 1547: 2.917535461901747,
 1549: 3.3320466595970304,
 1564: 2.6247606466628923,
 1565: 2.9805405405405403,
 1566: 2.949019873310494,
 1569: 2.83956400671011,
 1571: 3.433302279943129,
 1572: 3.0814800389483934,
 1573: 2.6041158712499533,
 1580: 2.5735532679919295,
 1583: 2.704824856602449,
 1584: 2.8142557315760257,
 1587: 3.1059594102108363,
 1588: 2.696597917038406,
 1589: 2.8910375284499343,
 1594: 3.263828542508515,
 1596: 3.623770013136939,
 1597: 2.5655791181066667,
 1600: 2.57629100760865,
 1604: 2.7936048863042813,
 1608: 2.6897150781499075,
 1609: 2.6126650021825255,
 1610: 3.1067442307503104,
 1611: 3.3581295188352454,
 1613: 3.3320466595970304,
 1615: 2.614015302883111,
 1617: 3.369832178876121,
 1619: 2.7779847283945025,
 1623: 2.6979499596448746,
 1625: 2.944794284260513,
 1631: 3.484859813084112,
 1633: 3.0566183025038907,
 1635: 2.9326365761578073,
 1639: 3.1404559295033057,
 1641: 3.0432053404433335,
 1643: 2.9957301482315777,
 1645: 2.8410331443345873,
 1647: 2.5694460116413733,
 1648: 3.1498527099369675,
 1650: 3.0113310390695527,
 1652: 3.4154310344827583,
 1653: 3.157945853997559,
 1654: 3.129592760180995,
 1655: 3.3636686390532544,
 1656: 3.448042994810971,
 1659: 2.84,
 1660: 2.6940284360189573,
 1662: 2.5814800389483934,
 1663: 3.0040511769322076,
 1665: 2.6228647302268304,
 1671: 3.078172920065253,
 1672: 2.9108040439393816,
 1673: 3.2007129772681133,
 1674: 2.823019747534622,
 1675: 2.984881889763779,

In [27]:
from collections import Counter
n=Counter(usr_mvi)


popular = n.most_common(10)# using most_common method to find the most commonly view movies 
print('movies recommended for user',U_id,'are:\n')
for i in range(10):
    print(i+1,'.',list(movies_data[movies_data.movieId==popular[i][0]]['title'])[0])

movies recommended for user 55 are:

1 . Hangar 18 (1980)
2 . Galaxy of Terror (Quest) (1981)
3 . Alien Contamination (1980)
4 . Jetée, La (1962)
5 . Match Factory Girl, The (Tulitikkutehtaan tyttö) (1990)
6 . Paterson
7 . The Big Bus (1976)
8 . Seve (2014)
9 . Android (1982)
10 . Looker (1981)

In [28]:
#list(movies_data[movies_data.movieId==popular[9][0]]['title'])[0]

#### 4.Display the MovieID, IMDB ID, Average User Rating (excluding predictions), genres and tag of all the movies found in Step 3 as a data frame.

In [29]:
imdb_id=list(links[links.movieId==popular[9][0]]['imdbId'])

In [30]:
tag=list(tags[tags.movieId==popular[2][0]]['tag'])
tag

[]

In [31]:
#calculating average user rating 
for m_id in data_pvt.columns:
    ratings['avg_rating']= round(ratings[ratings['movieId'] == m_id]['rating'].mean(),2)

In [32]:
#ratings[ratings['movieId'] == m_id]['rating'].mean()

In [33]:
ratings=ratings.drop(['timestamp'],axis=1)
ratings.head()

   userId  movieId  rating  avg_rating
0       1        1     4.0         4.0
1       1        3     4.0         4.0
2       1        6     4.0         4.0
3       1       47     5.0         4.0
4       1       50     5.0         4.0

In [34]:
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
#merging all the required columns together into a dataframe
main_df=pd.merge(links[['movieId','imdbId']],ratings[['movieId','avg_rating']],how='left',on='movieId')
main_df=pd.merge(main_df,movies_data[['movieId','genres']],how='left',on='movieId')
main_df=pd.merge(main_df,tags[['movieId','tag']],how='left',on='movieId')
main_df.head()

,movieId,imdbId,avg_rating,genres,tag
0,1,114709,4.0,Adventure|Animation|Children|Comedy|Fantasy,pixar
1,1,114709,4.0,Adventure|Animation|Children|Comedy|Fantasy,pixar
2,1,114709,4.0,Adventure|Animation|Children|Comedy|Fantasy,fun
3,1,114709,4.0,Adventure|Animation|Children|Comedy|Fantasy,pixar
4,1,114709,4.0,Adventure|Animation|Children|Comedy|Fantasy,pixar

In [36]:
ls = []    
for i in range(10):
    ls.append(popular[i][0])
final = main_df[main_df["movieId"].isin(ls)]
final

,movieId,imdbId,avg_rating,genres,tag
211487,5181,80836,4.0,Action|Sci-Fi|Thriller,NaN
211488,5181,80836,4.0,Action|Sci-Fi|Thriller,NaN
213588,5490,74205,4.0,Action|Comedy,NaN
214994,5746,82431,4.0,Action|Horror|Mystery|Sci-Fi,NaN
215006,5764,82677,4.0,Drama|Horror|Sci-Fi|Thriller,NaN
215612,5919,83557,4.0,Sci-Fi,NaN
215613,5919,83557,4.0,Sci-Fi,NaN
222096,6835,82000,4.0,Action|Horror|Sci-Fi,NaN
233055,8477,56119,4.0,Romance|Sci-Fi,post-apocalyptic
233056,8477,56119,4.0,Romance|Sci-Fi,post-apocalyptic
241797,40491,98532,4.0,Comedy|Drama,depression
282325,132333,3149640,4.0,Documentary|Drama,NaN
284129,156605,5247022,4.0,(no genres listed),quirky
284130,156605,5247022,4.0,(no genres listed),sweet
284131,156605,5247022,4.0,(no genres listed),understated

In [37]:
final['movieId'].unique()

array([  5181,   5490,   5746,   5764,   5919,   6835,   8477,  40491,
       132333, 156605], dtype=int64)

* there are multiple tags for a single movie